.typing1{
    width: 100%;
}

.typing2{
    width: 100%;
}

.typing3{
    width: 100%;
}

.substraction1{
    width: 100%;
}

.sum1{
    width: 100%;
}

.multiplication1{
    width: 100%;
}

.divide1{
    width: 100%;
}

.lasttt{
    width: 100%;
    margin-left: 600px;
}